<div class="flex flex-1 h-full align-items-center justify-content-center">
  <p-card ngClass="w-5">
    <ng-template pTemplate="content">
      <div class="flex flex-1 flex-column relative mx-8 align-items-center">
        <h1 class="text-center">Monitora UFF</h1>
        <h2 class="text-center">Bem-Vindo!!!</h2>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex flex-1 flex-column relative mx-8">
        <button pButton pRipple type="button" label="Entrar" class="w-full" (click)="irParaHome()"></button>
      </div>
    </ng-template>
  </p-card>
</div>
