{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% block title %}Alerta{% endblock %}

{% block content %}
<main class="alert">
    <h1>Veículos a serem monitorados</h1>
    {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li {% if message.tags %}class="alert alert-{{message.tags}}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
    {% endif %}
    <div class="alerta">
        <p><a class="" href="{% url 'monitor:add_alert' %}">+ Adicionar</a></p>
        <div class=""> 
            <table class="js-dynamitable table table-bordered" id="tablelayer">
                <thead>
                    <tr>
                        <th>Placa do veículo</th>
                        <th>Motivo</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for alert in alert_list %}
                                <td>{{ alert.license_plate }}</td>
                                <td>{{ alert.motivo }}</td>
                                <td><a class="" href="{% url 'monitor:update_alert' alert.id %}"><img class="editar" src="{% static 'images/editar.png' %}"></a></td>
                                <td><a class="" href="{% url 'monitor:delete_alert' alert.id %}"><img class="del" src="{% static 'images/del.png' %}"></a></td>
                                </tr>
                        {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}