<h1 class="mb-5">Faces Detectadas</h1>

<p-fileUpload #fileUploader name="file" accept="image/*" [customUpload]="true" (uploadHandler)="onFiltering($event)"
  chooseLabel="Escolher" uploadLabel="Carregar" cancelLabel="Cancelar">
  <ng-template pTemplate="toolbar">
    <p-button label="Limpar Filtro" icon="pi pi-refresh" [disabled]="!filtered" (onClick)="clearFilter()"></p-button>
  </ng-template>
</p-fileUpload>

<br>

<p-table [value]="modelList" styleClass="p-datatable-striped" responsiveLayout="scroll" [rowHover]="true">
  <ng-template pTemplate="header">
    <tr>
      <th>Face</th>
      <th>Indivíduo</th>
      <th>Detecção</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-face>
    <tr class="p-selectable-row" (click)="goToDetail(face)">
      <td>
        <p-avatar image={{getImageUrl(face)}}></p-avatar>
        {{getNameWithoutExtension(face?.img_filename)}}
      </td>
      <td>{{getIndividuo(face?.individuo)?.nome || '---'}}</td>
      <td>{{dateToString(face?.criado_em)}}</td>
    </tr>
  </ng-template>
</p-table>

<p-messages></p-messages>
