{% extends 'base.html' %}
{% load static %}
{% load l10n %}
{% block title %}Base de dados{% endblock %}

{% block style %}
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block script %}
	<script src="{% static 'js/scripts.js' %}"></script>
{% endblock %}

{% block content %}
<main class="placaList">
    {% if user.is_authenticated %}   
    <h1>Placas capturadas</h1> 
    
    <!--Campo de busca-->
    <div class="row">
        <div class="col-9 search-div">
            <form method="GET" class="form-inline">
                <input class="form-control" type="text" id="search" name="search" placeholder="Digite a placa a ser buscada" value="">
                <input type="submit" class="btn btn-primary" value="Buscar">                
            </form>
            <!--Botão para busca avancada-->
            <button class="btn btn-link" id="filtro-btn" data-toggle="collapse" data-target="#filtro"><img src="{% static 'images/filter.png' %}" class="filter" alt=""></button>
        </div>
    </div>
    

    <div class="collapse" id="filtro">
        <div class="busca_avancada">
            <h2>Busca avançada</h2>
            <form action="{% url 'monitor:buscaAvancada' %}" method="GET" >
                <table>
                    <tr>
                        <th>Campus:</th>
                        <td><input class="form-control" type="text" name="campus"></td>
                        <th>Marca:</th>
                        <td><input class="form-control" type="text" name="marca"></td>  
                        <th>Placa:</th>
                        <td><input class="form-control" type="text" name="placa"></td>                 
                    </tr>
                    <tr>
                        <th>Ponto de controle:</th>
                        <td><input class="form-control" type="text" name="controlpoint"></td>
                        <th>Modelo:</th>
                        <td><input class="form-control" type="text" name="modelo"></td>
                        <th>Data inicial:</th>
                        <td><input class="form-control" type="datetime-local" name="dataInicial"></td>
                    </tr>
                    <tr>
                        <th>Endereço:</th>
                        <td><input class="form-control" type="text" name="endereco"></td>    
                        <th>Cor:</th>
                        <td><input class="form-control" type="text" name="cor"></td>  
                        <th>Data final:</th>
                        <td><input class="form-control" type="datetime-local" name="dataFinal"></td>           
                    </tr>
                    <tr>
                        <th>Direção:</th>
                        <td><input class="form-control" type="text" name="direcao"></td>
                        <th>Ano:</th>
                        <td><input class="form-control" type="text" name="ano"></td>
                        <th></th>
                        <td rowspan="2"><input type="submit" class="btn btn-primary" value="Buscar"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="table-responsive">     
        <table class="js-dynamitable table table-bordered" id="tablesorter">
            <thead>
                <tr>
                    <th>
                        Campi
                        <a href="?order_by=campi"><span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span></a>
                        <a href="?order_by=-campi"><span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span></a>
                    </th>
                    <th>
                        Ponto de controle
                        <a href="?order_by=controlpoint"><span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span></a>
                        <a href="?order_by=-controlpoint"><span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span></a>
                    </th>
                    <th>
                        Endereço
                        <a href="?order_by=endereco"><span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span></a>
                        <a href="?order_by=-endereco"><span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span></a>
                    </th>
                    <th>
                        Direção
                        <a href="?order_by=direcao"><span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span></a> 
                        <a href="?order_by=-direcao"><span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span></a>
                    </th>
                    <th>
                        Marca
                        <a href="?order_by=marca"><span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span></a>
                        <a href="?order_by=-marca"><span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span></a>
                    </th>
                    <th>
                        Modelo
                        <a href="?order_by=modelo"><span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span></a>
                        <a href="?order_by=-modelo"><span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span></a>
                    </th>
                    <th>
                        Cor
                        <a href="?order_by=cor"><span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span></a>
                        <a href="?order_by=-cor"><span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span></a>
                    </th>
                    <th>
                        Ano
                        <a href="?order_by=ano"><span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span></a>
                        <a href="?order_by=-ano"><span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span></a>
                    </th>
                    <th>
                        Placa
                        <a href="?order_by=placa"><span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span></a>
                        <a href="?order_by=-placa"><span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span></a>
                    </th>
                    <th>
                        Imagem
                        <a href="?order_by=placa"><span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span></a>
                        <a href="?order_by=-placa"><span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span></a>
                    </th>
                    <th>
                        Data e hora
                        <a href="?order_by=data"><span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span></a>
                        <a href="?order_by=-data"><span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for placa in placa_list %}
                    <td>{{ placa.campi }}</td>
                    <td>{{ placa.controlpoint }}</td>
                    <td>{{ placa.endereco }}</td>
                    <td>{{ placa.direcao }}</td>
                    <td>{{ placa.marca }}</td>
                    <td>{{ placa.modelo }}</td>
                    <td>{{ placa.cor }}</td>
                    <td>{{ placa.ano }}</td>
                    <td>{{ placa.placa }}<a class="" href="{% url 'monitor:placa' placa.identificador %}"><img class="maisInfo" src="{% static 'images/mais_info.png' %}"></a></td>
                    <td><img class="imgMiniatura" src="../static/img_veiculos/{{ placa.imagem }}"></td>
                    <td>{{ placa.data }}</td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="paginacao">
        <span class="step-links">
            {% if placa_list.has_previous %}
                <a href="?page={{ placa_list.previous_page_number }}">Anterior</a>
            {% endif %}
        
            <span class="current">
                {{ placa_list.number }} de {{ placa_list.paginator.num_pages }}
            </span>
        
            {% if placa_list.has_next %}
                <a href="?page={{ placa_list.next_page_number }}">Próxima</a>
            {% endif %}
        </span>
    </div>

    {% else %}
    <h1>Acesso não autorizado</h1>
    <h2>Realize o login</h2>
    {% endif %}
</main>
{% endblock %}




