{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load l10n %}
{% block title %}Usuário{% endblock %}

{% block content %}
<div class="update-user">
    <div class="offset-1 col-10 list-div">
        <h1>Editar usuário</h1>
        <div class="info-user">
            <p>Nome: {{ usuario.name }}</p>
            <p>Email: {{usuario.email }}</p>
            <p>Matricula: {{ usuario.matricula }}</p>
        </div>

        <form method="POST">            
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Salvar" class="btn btn-success">
            <input class="btn btn-danger" type="button"  onclick="window.location.replace('/usuario')" value="Cancelar" />
        </form>
    </div>    
</div>

{% endblock %}